<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Cards Design</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
   <link rel="stylesheet" href="./css/adminprofile.css">
</head>

<body>

    <!------------------------------------------------------------- navbar ----------------------------------------------------------------------->

    <nav>
        <div class="navbar">
            <h1>Admin Dashboard</h1>
            <ul class="nav-links">
                <li><a href="/adminhome">Home</a></li>

                <!-- <li><a href="#bookAnalysis">Book Analysis</a></li> -->
            </ul>
        </div>
    </nav>

    <!-------------------------------------------------------------------- card ------------------------------------------------------------------->

    <div class="container">
        <p>ADMIN</p>
        <h1>OUR TEAM</h1>

        <div class="card-wrapper">
            <div class="card">
                <div class="profile-img">
                    <img src="./image/hacker.avif" alt="Profile Picture">
                </div>
                <div class="content">
                    <h3>Mandar</h3>
                    <p>Programmer</p>
                    <div class="social-media">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-youtube"></i>
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
            </div>

            <!-- Profile 2 -->

            <div class="card">
                <div class="profile-img">
                    <img src="./image/hacker.avif" alt="Profile Picture">
                </div>
                <div class="content">
                    <h3>Baswaraj</h3>
                    <p>Programmer</p>
                    <div class="social-media">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-youtube"></i>
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>