<span style="font-family: verdana, geneva, sans-serif;">
    <!DOCTYPE html>
  <html lang="en">
  <html>
    <meta charset="UTF-8" />
    <title>Dashboard | By Code Info</title>
    <link rel="stylesheet" href="style.css" />
    <!-- Font Awesome Cdn Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
 <link rel="stylesheet" href="./css/adminhome.css">
    
  </head>
  <body>

    <!------------------------------------------------------------------- navbar ------------------------------------------------------------>
    <div class="container">
      <nav>
        <ul>
          <li class="logo">
            <img src="image/zz.png" alt="">
            <!-- <span class="nav-item">DashBoard</span> -->
          </li>
          <li><a href="#">
            <i class="fas fa-home"></i>
            <span class="nav-item">Home</span>
          </a></li>
          <li><a href="/admin/users">
            <i class="fas fa-user-circle"></i>
            <span class="nav-item">User Profile</span>
          </a></li>
          <li><a href="/adminprofile" id="don">
            <i class="fas fa-user"></i>
            <span class="nav-item">Admin Profile</span>
          </a></li>
          <li><a href="/adminbcom1" id="don">
            <i class="fas fa-solid fa-book"></i> 
            <span class="nav-item">Add Books</span>
          </a></li>
          <li><a href="/adminana">
            <i class="fas fa-chart-bar"></i>
            <span class="nav-item">Analytics</span>
          </a></li>
          <li><a href="/admin">
            <i class="fas fa-tasks"></i>
            <span class="nav-item">Orders</span>
          </a></li>
          <li><a href="/adminlog" class="logout">
            <i class="fas fa-sign-out-alt"></i>
            <span class="nav-item">Log out</span>
          </a></li>
          
         
        </ul>
      </nav>
  
<!-------------------------------------------------------------------------- main ------------------------------------------------------------>

      <section class="main">
        <div class="main-top">
          <h1>CATEGORIES </h1>
          <i class="fa-solid fa-user-graduate"></i>
        </div>
        <div class="main-skills">
          <div class="card">
         <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            <h3>Degree college</h3>
            <p>Join Over 5K Students.</p>
            <button>GET BOOKS ON RENT</button>
          </div>
          <div class="card">
            <i class="fa fa-users" aria-hidden="true"></i>
            <h3>HISTORICAL </h3>
            <p>Join Over 3k Students.</p>
            <button>GET BOOKS ON RENT</button>
          </div>
          <div class="card">
            <i class="fa fa-briefcase" aria-hidden="true"></i>
            <h3>BUSSINESS MAGAZINE</h3>
            <p>Join Over 6K READERS.</p>
            <button>GET BOOKS ON RENT</button>
          </div>
          <div class="card">
            <i class="fa fa-heart" aria-hidden="true"></i>
            <h3>TOP 100 BOOKS</h3>
            <p>Join Over 4k READERS</p>
            <button>GET BOOKS ON RENT</button>
          </div>
        </div>

<!--------------------------------------------------------- course ----------------------------------------------------------------->
  
        <section class="main-course">
          <h1>OUR READERS</h1>
          <div class="course-box">
            <ul>
              <li class="active">In progress</li>
            </ul>
            <div class="course">
              <div class="box">
                <h3>Students</h3>
                <p>60% - progress</p>
                <button>continue</button>
                <!-- <i class="fab fa-html5 html"></i> -->
                <i class="fa fa-user" aria-hidden="true"></i>
              </div>
              <div class="box">
                <h3>Professional</h3>
                <p>30% - progress</p>
                <button>continue</button>
                <!-- <i class="fab fa-css3-alt css"></i> -->
                <i class="fa fa-user-md" aria-hidden="true"></i>
              </div>
              <div class="box">
                <h3>Others</h3>
                <p>10% - progress</p>
                <button>continue</button>
                <!-- <i class="fab fa-js-square js"></i> -->
                <i class="fa fa-users" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </section>
    </div>  
  </body>
  </html>
  
      