<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-------- title ----------->
    <title>Borrow Books homepage </title>

    <!-------- customer style link ----------->
    <link rel="stylesheet" href="./css/homepage2.css">


    <!-------- font awesome cdn link --------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">


    <!------- swipper cdn link ------------>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />


</head>

<body>

    <!--------- header section start ------------>
    <header class="header">

        <div class="header-1">

            <img src="./image/zz.png" class="logo" alt="">

            <form action="" class="search-form">
                <input type="search" name="" placeholder="search here..." id="search-box">
                <label for="search-box" class="fas fa-search"></label>
            </form>

            <div class="icons">
                <div id="search-btn" class="fas fa-search"></div>
                <a href="" class="fas fa-heart"></a>
                <a href="" class="fas fa-shopping-cart"></a>
                <a href="/sign" class="fas fa-user"></a>
            </div>

        </div>

        <div class="header-2">

            <div class="navbar">
                <a href="#home">home</a>
                <a href="#featured">featured</a>
                <a href="#degree">Degree</a>
                <a href="#arrivals">arrivals</a>
                <a href="#recommendations">Recommendations</a>
                <a href="#footer">Contact us</a>
            </div>

        </div>

    </header>

    <!--------- header section ends ------------>

    <!--------- bottom navbar  ------------>

    <div class="bottom-navbar">
        <a href="#home" class="fas fa-home"></a>
        <a href="#featured" class="fas fa-list"></a>
        <a href="#arrivals" class="fas fa-tags"></a>
        <a href="#reviews" class="fas fa-comments"></a>
        <a href="#blogs" class="fas fa-app-store"></a>
    </div>


    <!-------- bottom navbar start ----------->

    <div class="bottom-navbar">
        <a href="#home" class="fas fa-home"></a>
        <a href="#featured" class="fas fa-list"></a>
        <a href="#arrivals" class="fas fa-tags"></a>
        <a href="#reviews" class="fas fa-comments"></a>
        <a href="#blogs" class="fas fa-app-store"></a>
    </div>


    <!-------- bottom navbar ends ----------->

    <!-------- login form start ----------->


    <div class="login-form-container">

        <div id="close-login-btn" class="fas fa-times"></div>

        <form action="">
            <h3>sign in</h3>
            <span>email</span>
            <input type="email" name="" class="box" placeholder="enter your email">
            <span>password</span>
            <input type="password" name="" class="box" placeholder="enter your password">

            <div class="check-box">
                <input type="checkbox" id="remember-me">
                <label for="remember-me">remember me</label>
            </div>
            <input type="submit" value="sign in" class="btn">
            <p>forgot password ? <a href="">click here</a></p>
            <p>don't have an account ? <a href="">create one</a></p>
        </form>
    </div>

    <!-------- login form ends ----------->


    <!-------- home section start ----------->

    <section class="home" id="home">

        <div class="row">

            <div class="content">
                <h3>Welcome to Borrow Books</h3>
                <p>"A book is a dream that you hold in your hand."</p>
                <a href="/sign" class="btn">Login</a>
                <a href="/regi" class="btn">Register</a>
            </div>

            <div class="swiper books-list">

                <div class="swiper-wrapper">
                    <a href="" class="swiper-slide"><img src="./image/book_7.png" alt=""></a>
                    <a href="" class="swiper-slide"><img src="./image/book_8.png" alt=""></a>
                    <!-- <a href="" class="swiper-slide"><img src="./image/book_9.jpg" alt=""></a> -->
                    <a href="" class="swiper-slide"><img src="./image/book_10.png" alt=""></a>
                    <a href="" class="swiper-slide"><img src="./image/book_12.png" alt=""></a>

                </div>

                <img src="./image/stand.png" class="stand" alt="">

            </div>


        </div>

    </section>

    <!-------- home section ends  ----------->

    <!-------- icons section start  ----------->

    <!-- <section class="icons-container">

        <div class="icons">
            <i class="fas fa-plane"></i>
            <div class="content">
                <h3>over payment</h3>
                <p>over payment $100</p>
            </div>
        </div>

        <div class="icons">
            <i class="fas fa-lock"></i>
            <div class="content">
                <h3>secure payment</h3>
                <p>secure payment $100</p>
            </div>
        </div>

        <div class="icons">
            <i class="fas fa-headset"></i>
            <div class="content">
                <h3>24/7 support</h3>
                <p>call us anythin</p>
            </div>
        </div>

    </section> -->

    <!-------- icons section ends  ----------->

    <!-------- featured section start  ----------->

    <section class="featured" id="featured">

        <div class="heading"><span>featured books</span></div>

        <div class="swiper featured-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <!-- <div class="icons">
                        <a href="" class="fas fa-search"></a>
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="fas fa-eye"></a>
                    </div> -->

                    <div class="image">
                        <img src="image/book_1.jpg" alt="">
                    </div>

                    <div class="content">
                        <h3>COCOGOOSE</h3>
                        <div class="price">₹ 100</div>
                        <a href="/sign" class="btn">add to cart</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <!-- <div class="icons">
                        <a href="" class="fas fa-search"></a>
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="fas fa-eye"></a>
                    </div> -->

                    <div class="image">
                        <img src="image/book_2.jpg" alt="">
                    </div>

                    <div class="content">
                        <h3>SUBLETTER</h3>
                        <div class="price">₹ 100 </div>
                        <a href="/sign" class="btn">add to cart</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <!-- <div class="icons">
                        <a href="" class="fas fa-search"></a>
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="fas fa-eye"></a>
                    </div> -->

                    <div class="image">
                        <img src="image/book_3.jpg" alt="">
                    </div>

                    <div class="content">
                        <h3>WestPart</h3>
                        <div class="price">₹ 100 </div>
                        <a href="/sign" class="btn">add to cart</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <!-- <div class="icons">
                        <a href="" class="fas fa-search"></a>
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="fas fa-eye"></a>
                    </div> -->

                    <div class="image">
                        <img src="image/book_4.jpg" alt="">
                    </div>

                    <div class="content">
                        <h3>BeautiFully</h3>
                        <div class="price">₹ 100 </div>
                        <a href="/sign" class="btn">add to cart</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <!-- <div class="icons">
                        <a href="" class="fas fa-search"></a>
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="fas fa-eye"></a>
                    </div> -->

                    <div class="image">
                        <img src="image/book_5.jpg" alt="">
                    </div>

                    <div class="content">
                        <h3>Clever Lands</h3>
                        <div class="price">₹ 100 </div>
                        <a href="/sign" class="btn">add to cart</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <!-- <div class="icons">
                        <a href="" class="fas fa-search"></a>
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="fas fa-eye"></a>
                    </div> -->

                    <div class="image">
                        <img src="image/book_6.jpg" alt="">
                    </div>

                    <div class="content">
                        <h3>Dick Francis Sattered</h3>
                        <div class="price">₹ 100 </div>
                        <a href="/sign" class="btn">add to cart</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <!-- <div class="icons">
                        <a href="" class="fas fa-search"></a>
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="fas fa-eye"></a>
                    </div> -->

                    <div class="image">
                        <img src="image/book_7.png" alt="">
                    </div>

                    <div class="content">
                        <h3>The Art City</h3>
                        <div class="price">₹ 100</div>
                        <a href="/sign" class="btn">add to cart</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <!-- <div class="icons">
                        <a href="" class="fas fa-search"></a>
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="fas fa-eye"></a>
                    </div> -->

                    <div class="image">
                        <img src="image/book_8.png" alt="">
                    </div>

                    <div class="content">
                        <h3>Music Rock</h3>
                        <div class="price">₹ 100 </div>
                        <a href="/sign" class="btn">add to cart</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <!-- <div class="icons">
                        <a href="" class="fas fa-search"></a>
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="fas fa-eye"></a>
                    </div> -->

                    <div class="image">
                        <img src="image/book_9.jpg" alt="">
                    </div>

                    <div class="content">
                        <h3>Free Fall</h3>
                        <div class="price">₹ 100 </div>
                        <a href="/sign" class="btn">add to cart</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <!-- <div class="icons">
                        <a href="" class="fas fa-search"></a>
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="fas fa-eye"></a>
                    </div> -->

                    <div class="image">
                        <img src="image/book_10.png">
                    </div>

                    <div class="content">
                        <h3>Sample Text</h3>
                        <div class="price">₹ 100 </div>
                        <a href="/sign" class="btn">add to cart</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <!-- <div class="icons">
                        <a href="" class="fas fa-search"></a>
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="fas fa-eye"></a>
                    </div> -->

                    <div class="image">
                        <img src="image/book_15.png" alt="">
                    </div>

                    <div class="content">
                        <h3>Black Histroy Month</h3>
                        <div class="price">₹ 100 </div>
                        <a href="/sign" class="btn">add to cart</a>
                    </div>
                </div>
            </div>

            <!-- <div class="swiper-button-next"></div> -->
            <!-- <div class="swiper-button-prev"></div> -->
        </div>
    </section>



    <!-------- featured section ends  ----------->

    <!-------- Degree section start  ----------->

    <section class="featured" id="degree">

        <div class="heading"><span>Degree books</span></div>

        <div class="swiper featured-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <!-- <div class="icons">
                        <a href="" class="fas fa-search"></a>
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="fas fa-eye"></a>
                    </div> -->

                    <div class="image">
                        <img src="./image/degree2.webp" alt="">
                    </div>

                    <div class="content">
                        <h3>Busniess statistic 2</h3>
                        <div class="price">₹ 70</div>
                        <a href="/sign" class="btn">add to cart</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <!-- <div class="icons">
                        <a href="" class="fas fa-search"></a>
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="fas fa-eye"></a>
                    </div> -->

                    <div class="image">
                        <img src="./image/degree4.webp" alt="">
                    </div>

                    <div class="content">
                        <h3>Enterprise java</h3>
                        <div class="price">₹ 65 </div>
                        <a href="/sign" class="btn">add to cart</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <!-- <div class="icons">
                        <a href="" class="fas fa-search"></a>
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="fas fa-eye"></a>
                    </div> -->

                    <div class="image">
                        <img src="./image/degree5.webp" alt="">
                    </div>

                    <div class="content">
                        <h3>Cyber law</h3>
                        <div class="price">₹ 60 </div>
                        <a href="/sign" class="btn">add to cart</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <!-- <div class="icons">
                        <a href="" class="fas fa-search"></a>
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="fas fa-eye"></a>
                    </div> -->

                    <div class="image">
                        <img src="./image/degree6.webp" alt="">
                    </div>

                    <div class="content">
                        <h3>Business intelligence</h3>
                        <div class="price">₹ 66 </div>
                        <a href="/sign" class="btn">add to cart</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <!-- <div class="icons">
                        <a href="" class="fas fa-search"></a>
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="fas fa-eye"></a>
                    </div> -->

                    <div class="image">
                        <img src="./image/degree8.webp" alt="">
                    </div>

                    <div class="content">
                        <h3>Indirect tax</h3>
                        <div class="price">₹ 67 </div>
                        <a href="/sign" class="btn">add to cart</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <!-- <div class="icons">
                        <a href="" class="fas fa-search"></a>
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="fas fa-eye"></a>
                    </div> -->

                    <div class="image">
                        <img src="./photos/numerical-methods-sem-2-b-sc-it-sheth-publication-250x250.webp" alt="">
                    </div>

                    <div class="content">
                        <h3>numerical methods</h3>
                        <div class="price">₹ 60 </div>
                        <a href="/sign" class="btn">add to cart</a>
                    </div>
                </div>



                <div class="swiper-slide box">
                    <!-- <div class="icons">
                        <a href="" class="fas fa-search"></a>
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="fas fa-eye"></a>
                    </div> -->

                    <div class="image">
                        <img src="./photos/industrial-law-fybms-sem2-.jpeg-250x250.webp" alt="">
                    </div>

                    <div class="content">
                        <h3>industrial law</h3>
                        <div class="price">₹ 68 </div>
                        <a href="/sign" class="btn">add to cart</a>
                    </div>
                </div>



                <!-- <div class="swiper-button-next"></div> -->
                <!-- <div class="swiper-button-prev"></div> -->
            </div>
    </section>



    <!-------- Degree section ends  ----------->


    <!-------- news letter section start  ----------->

    <!-- <section class="newsletter">

        <form action="">

            <h3>subcribe for latest update</h3>
            <input type="email" name="" placeholder="enter your email" class="box">
            <input type="submit" value="subcribe" class="btn">
        </form>
     </section> -->



    <!-------- news letter section ends  ----------->


    <!-------- arrivals section start  ----------->

    <section class="arrivals" id="arrivals">

        <div class="heading"><span>new arrivals</span></div>

        <div class="swiper arrivals-slider">

            <div class="swiper-wrapper">

                <a href="/sign" class="swiper-slide box">
                    <div class="image">
                        <img src="image/arrival_1.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>THE GIVER</h3>
                        <div class="price">₹ 100 </div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </a>

                <a href="/sign" class="swiper-slide box">
                    <div class="image">
                        <img src="image/arrival_2.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>THE WRIGTH BROTHERS</h3>
                        <div class="price">₹ 100 </div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </a>

                <a href="/sign" class="swiper-slide box">
                    <div class="image">
                        <img src="image/arrival_3.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>RADICAL GARDEING</h3>
                        <div class="price">₹ 100 </div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </a>

                <a href="/sign" class="swiper-slide box">
                    <div class="image">
                        <img src="image/arrival_4.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>RED QUEEN</h3>
                        <div class="price">₹ 100 </div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </a>

                <a href="" class="swiper-slide box">
                    <div class="image">
                        <img src="image/arrival_5.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>HARPER LEE TO KILL A MOCKINGBIRD</h3>
                        <div class="price">₹ 100 </div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </a>

            </div>
        </div>

        <div class="swiper arrivals-slider">

            <div class="swiper-wrapper">


                <!-- <a href="" class="swiper-slide box">
                        <div class="image">
                            <img src="book_7.png" alt="">
                        </div>
                        <div class="content">
                            <h3>new arrivals</h3>
                            <div class="price">$15.99 <span>$20.99</span></div>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </a> -->

                <!-- <a href="" class="swiper-slide box">
                        <div class="image">
                            <img src="./image/book-7.png" alt="">
                        </div>
                        <div class="content">
                            <h3>new arrivals</h3>
                            <div class="price">$15.99 <span>$20.99</span></div>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </a>

                    <a href="" class="swiper-slide box">
                        <div class="image">
                            <img src="./image/book-8.png" alt="">
                        </div>
                        <div class="content">
                            <h3>new arrivals</h3>
                            <div class="price">$15.99 <span>$20.99</span></div>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </a>

                    <a href="" class="swiper-slide box">
                        <div class="image">
                            <img src="./image/book-9.png" alt="">
                        </div>
                        <div class="content">
                            <h3>new arrivals</h3>
                            <div class="price">$15.99 <span>$20.99</span></div>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </a>

                    <a href="" class="swiper-slide box">
                        <div class="image">
                            <img src="./image/book-10.png" alt="">
                        </div>
                        <div class="content">
                            <h3>new arrivals</h3>
                            <div class="price">$15.99 <span>$20.99</span></div>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </a> -->
            </div>
        </div>
    </section>


    <!-------- arrivals section ends  ----------->

    <!-------- recommendations section start  ----------->

    <section class="arrivals" id="recommendations">

        <div class="heading"><span>Our Recommendations</span></div>

        <div class="swiper arrivals-slider">

            <div class="swiper-wrapper">

                <a href="/sign" class="swiper-slide box">
                    <div class="image">
                        <img src="image/arrival_7.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>HEROES OF OLYMPUS</h3>
                        <div class="price">₹ 100</div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </a>

                <a href="/sign" class="swiper-slide box">
                    <div class="image">
                        <img src="image/arrival_5.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>HARPER LEE TO KILL A MOCKINGBIRD</h3>
                        <div class="price">₹ 100</div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </a>

                <a href="/sign" class="swiper-slide box">
                    <div class="image">
                        <img src="image/arrival_2.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>THE WRIGTH BROTHERS</h3>
                        <div class="price">₹ 100</div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </a>

                <a href="/sign" class="swiper-slide box">
                    <div class="image">
                        <img src="image/book_7.png" alt="">
                    </div>
                    <div class="content">
                        <h3>The Art City</h3>
                        <div class="price">₹ 100</div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </a>

                <a href="/sign" class="swiper-slide box">
                    <div class="image">
                        <img src="image/book_5.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>Clever Lands</h3>
                        <div class="price">₹ 100</div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </a>

            </div>
        </div>

        <div class="swiper arrivals-slider">

            <div class="swiper-wrapper">


                <!-- <a href="" class="swiper-slide box">
                    <div class="image">
                        <img src="book_7.png" alt="">
                    </div>
                    <div class="content">
                        <h3>new arrivals</h3>
                        <div class="price">$15.99 <span>$20.99</span></div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </a> -->

                <!-- <a href="" class="swiper-slide box">
                    <div class="image">
                        <img src="./image/book-7.png" alt="">
                    </div>
                    <div class="content">
                        <h3>new arrivals</h3>
                        <div class="price">$15.99 <span>$20.99</span></div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </a>

                <a href="" class="swiper-slide box">
                    <div class="image">
                        <img src="./image/book-8.png" alt="">
                    </div>
                    <div class="content">
                        <h3>new arrivals</h3>
                        <div class="price">$15.99 <span>$20.99</span></div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </a>

                <a href="" class="swiper-slide box">
                    <div class="image">
                        <img src="./image/book-9.png" alt="">
                    </div>
                    <div class="content">
                        <h3>new arrivals</h3>
                        <div class="price">$15.99 <span>$20.99</span></div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </a>

                <a href="" class="swiper-slide box">
                    <div class="image">
                        <img src="./image/book-10.png" alt="">
                    </div>
                    <div class="content">
                        <h3>new arrivals</h3>
                        <div class="price">$15.99 <span>$20.99</span></div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </a> -->
            </div>
        </div>
    </section>

    <!-------- recommendations section end ----------->
    <!-- <div class="about">
    <div class="about-image">
        <img src="./image/about.png" alt="">
    </div>
    <div class="about-tag">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea voluptas unde, aliquam architecto ut officiis eveniet molestiae harum facere quam perferendis beatae dolorem dolores fugit doloremque atque quae quas corporis.</p>
        <a href="" class="about-btn">Learn More</a>
    </div>
</div> -->

    <!-------- deal section start  ----------->

    <!-- <section class="deal">

            <div class="content">
                <h3>deal of the day</h3>
                <h1>upto 50% offers</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, vero. Voluptatibus voluptates inventore nulla vel.
                </p>
                <a href="" class="btn">shop now</a>
            </div>

            <div class="image">
                <img src="./image/deal-img.jpg" alt="">
            </div>

        </section> -->




    <!-------- deal section ends  ----------->


    <!-------- review section start  ----------->
    <!-- 
        <section class="reviews" id="reviews">

            <h1 class="heading"><span>client's reviews</span></h1>

            <div class="swiper reviews-slider">

                <div class="swiper-wrapper">
                     <div class="swiper-slide box">
                        <img src="./image/pic-1.png" alt="">
                        <h3>john deo</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque eligendi amet recusandae perferendis cumque nesciunt.
                        </p>
    
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                     </div>

                     <div class="swiper-slide box">
                        <img src="./image/pic-2.png" alt="">
                        <h3>john deo</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque eligendi amet recusandae perferendis cumque nesciunt.
                        </p>
    
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                     </div>

                     <div class="swiper-slide box">
                        <img src="./image/pic-3.png" alt="">
                        <h3>john deo</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque eligendi amet recusandae perferendis cumque nesciunt.
                        </p>
    
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                     </div>

                     <div class="swiper-slide box">
                        <img src="./image/pic-4.png" alt="">
                        <h3>john deo</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque eligendi amet recusandae perferendis cumque nesciunt.
                        </p>
    
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                     </div>

                     <div class="swiper-slide box">
                        <img src="./image/pic-5.png" alt="">
                        <h3>john deo</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque eligendi amet recusandae perferendis cumque nesciunt.
                        </p>
    
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                     </div>

                     <div class="swiper-slide box">
                        <img src="./image/pic-6.png" alt="">
                        <h3>john deo</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque eligendi amet recusandae perferendis cumque nesciunt.
                        </p>
    
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                     </div>
                </div>
            </div>
        </section> -->

    <!-------- review section ends  ----------->


    <!-------- blog section start  ----------->

    <section class="blogs" id="blogs">

        <div class="heading"><span>our Services </span></div>

        <div class=" blog-slider">

            <!-- <div class="swiper-wrapper"> -->

            <div class=" box">
                <div class="image">
                    <img src="./image/yj-lee-xFcoLGuhdGs-unsplash.jpg" alt="">
                </div>

                <div class="content">
                    <h3>blog title goes here</h3>
                    <p>
                        borrowbooks is a versatile book service
                        designed to meet the diverse needs of
                        readers, offering an array of features including access to top trending books and essential
                        textbooks commonly used in degree colleges. One of its standout features is the curated
                        selection of top trending books, continuously updated to reflect the latest releases and
                        literary
                        sensations across various genres. Whether users are passionate about fiction, non-fiction,
                        mystery, or self-help, borrowbooks ensures they stay abreast of the newest and most popular
                        titles in the literary world.
                        Additionally, the platform caters to the academic community by providing a comprehensive range
                        of degree college books, including textbooks, study guides, and supplementary materials
                        necessary for higher education. This feature simplifies the process for students, offering
                        convenient access to required course materials while also providing options for renting or
                        purchasing textbooks to manage educational expenses effectively. Moreover, borrowbooks enhances
                        the reading experience through personalized recommendations tailored to individual preferences,
                        helping users discover new and relevant titles aligned with their interests. With its
                        user-friendly interface, and commitment to delivering quality content, borrowbooks strives to be
                        the go-to destination for readers seeking both entertainment and educational resources.
                    </p>
                    <a href="" class="btn">read more</a>
                </div>

            </div>




        </div>
    </section>


    <section class="blogs" id="blogs">

        <div class="heading"><span>About us </span></div>

        <div class=" blog-slider">

            <div class="swiper-wrapper">

                <!-- <div class=" box">
                <div class="image">
                    <img src="./image/ser1.webp" alt="">
                </div> -->

                <!-- <div class="content">
                    <h3>blog title goes here</h3>
                    <p>
                        borrowbooks is a versatile book service
                        designed to meet the diverse needs of
                        readers, offering an array of features including access to top trending books and essential
                        textbooks commonly used in degree colleges. One of its standout features is the curated
                        selection of top trending books, continuously updated to reflect the latest releases and
                        literary
                        sensations across various genres. Whether users are passionate about fiction, non-fiction,
                        mystery, or self-help, borrowbooks ensures they stay abreast of the newest and most popular
                        titles in the literary world.
                        Additionally, the platform caters to the academic community by providing a comprehensive range
                        of degree college books, including textbooks, study guides, and supplementary materials
                        necessary for higher education. This feature simplifies the process for students, offering
                        convenient access to required course materials while also providing options for renting or
                        purchasing textbooks to manage educational expenses effectively. Moreover, borrowbooks enhances
                        the reading experience through personalized recommendations tailored to individual preferences,
                        helping users discover new and relevant titles aligned with their interests. With its
                        user-friendly interface, and commitment to delivering quality content, borrowbooks strives to be
                        the go-to destination for readers seeking both entertainment and educational resources.
                    </p>
                    <a href="" class="btn">read more</a>
                </div>

            </div> -->

                <div class=" box">
                    <div class="image">
                        <img src="./image/sean-benesh-hsgsfvdboUw-unsplash.jpg" alt="">
                    </div>

                    <div class="content">
                        <h3></h3>
                        <p>
                            Extensive Collection: A diverse and extensive collection of books spanning various genres.
                            Easy Accessibility: User-friendly website and mobile app for a seamless experience.
                            Affordable Pricing: Competitive and pocket-friendly rental prices.
                            Convenient Reservations: Secure your favorite books in advance with our reservation feature.
                            Personalized Recommendations: Discover your next favorite read with our recommendation
                            system.
                            Reminders and Notifications: Stay on top of your reading schedule with our convenient
                            reminder
                            system.
                            Flexible Rental Periods: Choose from flexible rental periods that suit your pace.
                            Join Us on the Reading Adventure
                            Embark on a literary journey with Your Book Rental Store. Whether you're a casual reader, a
                            student on a budget, or someone with a voracious appetite for books, we invite you to
                            explore
                            the world of literature with us. Affordable, accessible, and brimming with possibilities
                            that's
                            the Your Book Rental Store promise.

                            Start your reading adventure today!


                        </p>
                        <a href="" class="btn">read more</a>
                    </div>

                </div>


            </div>
    </section>



    <!-------- blog section ends  ----------->

    <!-------- footer section start  ----------->

    <section class="footer" id="footer">

        <div class="box-container">

            <!-- <div class="box">
                        <h3>our locations</h3>
                        <a href=""><i class="fas fa-map-marker-alt"></i>india</a>
                        <a href=""><i class="fas fa-map-marker-alt"></i>USA</a>
                        <a href=""><i class="fas fa-map-marker-alt"></i>russia</a>
                        <a href=""><i class="fas fa-map-marker-alt"></i>france</a>
                        <a href=""><i class="fas fa-map-marker-alt"></i>japan</a>
                        <a href=""><i class="fas fa-map-marker-alt"></i>africa</a>
                    </div> -->


            <div class="tag">
                <img src="image/zz.png">
                <p>
                    At Your Book Rental Store, we are dedicated to promoting a love for reading by providing a
                    cost-effective and accessible platform for book enthusiasts. We believe that everyone should have
                    the opportunity to explore the vast world of literature without breaking the bank.
                </p>

            </div>

            <div class="box">
                <h3>quick links</h3>
                <a href="#home"><i class="fas fa-arrow-right"></i>Home</a>
                <a href="#degree"><i class="fas fa-arrow-right"></i>Degree</a>
                <a href="#featured"><i class="fas fa-arrow-right"></i>featured</a>
                <a href="#arrivals"><i class="fas fa-arrow-right"></i>Arrivals</a>
                <a href="#recommendations"><i class="fas fa-arrow-right"></i>Recommendations</a>

            </div>

            <!-- <div class="box">
                        <h3>extra links</h3>
                        <a href=""><i class="fas fa-arrow-right"></i>account info</a>
                        <a href=""><i class="fas fa-arrow-right"></i>ordered items</a>
                        <a href=""><i class="fas fa-arrow-right"></i>privacy policy</a>
                        <a href=""><i class="fas fa-arrow-right"></i>payment method</a>
                        <a href=""><i class="fas fa-arrow-right"></i>our services</a>
                    </div> -->


            <div class="box">
                <h3>contact info</h3>
                <a href=""><i class="fas fa-phone"></i>+123-356-546</a>
                <a href=""><i class="fas fa-phone"></i>+123-134-879</a>
                <a href=""><i class="fas fa-envelope"></i>borrowbooks@gmail.com</a>

            </div>
        </div>
        <!-- <img src="./photos/worldmap.png" alt="" class="map"> -->

        <div class="share">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <!-- <a href=""><i class="fas fa-square-pinterest"></i></a> -->
        </div>

        <div class="credit">create by <span>Mandar & Baswa</span> | all rights reserved</div>

    </section>





    <!-------- footer section ends  ----------->







    <!---- swiper cdn link ---------->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>


    <!------- customer script link --------->

    <script src="./js/homepage2.js"></script>

</body>

</html>