<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Your Book Rental Store</title>
    <link rel="stylesheet" href="./css/policay.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="./image/zz.png" alt="">
        </div>
        <p class="q2">Our Policy </p>
    </header>

    <section>
        <h2>Our Vision</h2>
        <p>At Our Book Rental Store, we are dedicated to promoting a love for reading by providing a cost-effective and
            accessible platform for book enthusiasts. We believe that everyone should have the opportunity to explore
            the vast world of literature without breaking the bank.</p>

        <h2>Key Policy</h2>
        <p>
        <h3>1. Returns and Refunds:</h3>
        1.1 Return Period:
        <br>
        Customers are eligible for returns within 7 days from the date of purchase. To be eligible for a return, the
        item must be in its original condition, unused, and in its original packaging.
        <br>
        <br>
        1.2 Refund Process:
        <br>
        Refunds will be issued to the offline payment method . we will charge a nominal charge.
        <br>
        <br>
        1.3 Exceptions:
        <br>
        Certain items, such as personalized or clearance items, are not eligible for return or refund. Please check the
        product description for any specific return restrictions.
        <br>
        <h3>2. Deposits:</h3>
        2.1 Reservation Deposits:
        <br>
        A deposit may be required for book reservations. This deposit will be deducted from the total purchase amount
        when the customer completes the purchase. Deposits are non-refundable for canceled reservations.a 20rs per
        reservations charge shoulb be applied
        <br>
        <br>
        2.2 Security Deposits:
        <br>
        In Every cases, a security deposit may be required for the rental or borrowing of books. The deposit will be
        refunded upon the return of the book in its original condition within the agreed-upon timeframe.We will
        deduction a rental amount of deposits. rental deposits on MRP of books.

        <h3>3. Damaged or Defective Items:</h3>

        3.1 Reporting Damages:
        <br>
        Customers are requested to inspect their purchases upon receipt. Any damages or defects must be reported within
        7 days of receiving the item.
        <br>
        <br>
        3.2 IF Damage Cause is Reader only
        <br>
        If Customer as responsible of damage we will charge a nominal amount.If Book are damage above 50% Then Readers
        shouble Pay on MRP Price of Book.
        <br>
        <br>
        3.3 Replacement or Refund:
        <br>
        For damaged or defective items, customers may choose between a replacement or a full refund. Please contact our
        customer service team to facilitate the process.

        <h3>4. Exchange Policy:</h3>

        4.1 Exchanging Items:
        <br>
        Exchanges are allowed within duration of books rental period . The customer is responsible for any price
        differences.A Given price is rental price of 4 months for each book.
        <br>
        <br>
        4.2 Conditions for Exchange:
        <br>
        Items eligible for exchange must be in their original condition, and in their
        no damage .

        <h3>5. Contact Information:</h3>

        If you have any questions or concerns regarding our return and deposit policy, please contact our customer
        service team atborrowbooks123@gmail.com or 9400000001.
        <br>
        <br>
        Note: This policy is subject to change without notice. Please check our website or contact customer service for
        the most up-to-date information.

        Thank you for choosing
        </p>

        <h2>Join Us on the Reading Adventure</h2>
        <p>Embark on a literary journey with Your Book Rental Store. Whether you're a casual reader, a student on a
            budget, or someone with a voracious appetite for books, we invite you to explore the world of literature
            with us. Affordable, accessible, and brimming with possibilities that's the Your Book Rental Store promise.
        </p>

        <p>Start your reading adventure today!</p>
    </section>
</body>

</html>